<!-- <form action="/result" method="POST">
    <p>Name: <input type="text" name="name" /></p>
    <p>Math: <input type="text" name="math" /></p>
    <p>Send <input type="submit" name="Send!" /></p>
</form> -->


<!-- <form action="/result" method="POST">
    <p>Name: <input type="text" name="name" /></p>
    <p>Math: <input type="text" name="math" /></p>
    <p>CS: <input type="text" name="cs" /></p>
    <p>Chem: <input type="text" name="chem" /></p>
    <p>Send <input type="submit" value="Send!" /> </p>
</form>  -->

<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>
